NEXT_PUBLIC_SUPABASE_URL=https://hwrwmciggxycpwevivrg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3cndtY2lnZ3h5Y3B3ZXZpdnJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ5OTAxNjAsImV4cCI6MjEwMDU2NjE2MH0.wrXItJMa_Q5C1QoX0UrY9dgdwvYDR5YTfNd7tymRQik
